* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 992px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {
    
}

@media (max-width: 767px) {
    
}

header {
    text-align: center;
    size: 24px;
}

.row {
    width: 100%;
}

div > div {
    background-color: #DCDCDC;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 2%;
    margin-bottom: 2%;
}

#casuta {
    background-color: grey;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
}


#margini {
    padding-left: 15px;
    padding-top: 15px;
}